GLOBAL_MIDDLEWARE=null
BASE_URL = ""
ALLOW_SIGNUP=true

# =====================================
# Light Mode Config (grayscale palette)
THEME_LIGHT_PRIMARY=#212121
THEME_LIGHT_ACCENT=#424242
THEME_LIGHT_SECONDARY=#616161
THEME_LIGHT_SUCCESS=#4F4F4F
THEME_LIGHT_INFO=#757575
THEME_LIGHT_WARNING=#9E9E9E
THEME_LIGHT_ERROR=#000000
# =====================================
# Dark Mode Config (grayscale palette)
THEME_DARK_PRIMARY=#FAFAFA
THEME_DARK_ACCENT=#E0E0E0
THEME_DARK_SECONDARY=#BDBDBD
THEME_DARK_SUCCESS=#9E9E9E
THEME_DARK_INFO=#757575
THEME_DARK_WARNING=#BDBDBD
THEME_DARK_ERROR=#FFFFFF
